<article class="card">
    <figure class="card__figure">
        <img src="<%= character.image %> " alt="<%= character.name %>">
    </figure>
    <div class="card__info">
        <h3 class="card__info__name">
            <%= character.name %>
        </h3>
        <h6 class="card__info__status">
            <%= character.species %>-<%= character.status %>
        </h6>
    </div>
</article>